.shadowLogo {
  -webkit-box-reflect: below 10px;
}

.hideScroll {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
